document, body {
    background: #2196F3;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

core-toolbar {
  background: #2196F3;  
}

core-list {
    height:100%;
}

core-list .alarm {
    height: 100px;
    padding: 16px;
}

core-list .alarm h1 {
    font-weight: 100;
    font-size: 4em;
}

core-list .alarm h1 span{
    font-size: smaller;
}

paper-toggle-button::shadow .toggle-ink {
  color: #FF4081;
}

paper-toggle-button::shadow [checked] .toggle {
  background-color: #FF4081;
}

paper-toggle-button::shadow [checked] .toggle-ink {
  color: #FF4081;
}

top-nav::shadow paper-tabs::shadow #selectionBar {
    background-color: #fff;
}

top-nav::shadow paper-tabs paper-tab::shadow #ink {
  color: #fff;
}

top-nav::shadow core-icon {
    color: #fff;
}

my-clock::shadow div {text-align: center; }
my-clock::shadow h1 {font-size: 5em; font-weight: 100; }
my-clock::shadow span {font-weight:500;}

.alarm {
    width: 100%;
}

#btn-add-alarm {
    background-color: #FF4081;
}

#bottom-nav {
    padding: 10px;
}